<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/main.css" rel="stylesheet" >
</head>
<body>

    <div th:replace="~{ nav.html::navbar}"></div>
    <h2>회원가입</h2><hr>

    <form action="/member" method="POST">
        <input name="displayName" placeholder="이름">
        <input name="username" placeholder="아이디">
        <input name="password" type="password" placeholder="PW">
        <button type="submit">전송</button>
    </form>
</body>
</html>